<%- include('partials/header') -%>
<main class="index">
    <section class="intro">
        <h1>Welcome to the Climate Data Explorer</h1>
        <!-- <p>
            Here you will find a collection of climate tracking tools and data that focus on the many topics involved in climate change and adaptation efforts.
        </p> -->
        <p>
            The intention of this platfom is to identify and bring together important data from sources that go beyond national statistics, with the goal of enabling decision makers, climate experts, businesses, and citizens to leverage data to address all aspects of the climate crisis.
        </p>
    </section>
    
    <!-- <section class="stats">
        <h2>Current Collection Stats</h2>
        <p>some graphs showing how much of each thing is currently in the collection</p>
    </section> -->
    <!-- <section class="topics">
        <h2>Explore by topic</h2> -->
        <!-- turn into pannels that extend into a big gif or vid related to the topic-->
        <!-- <ul class="row">
            <li class="card"> -->
                <!-- <div><i class="fa-regular fa-house-flood-water"></i></div> -->
                <!-- <a href="">
                    <h3>Impacts</h3>
                    <p>Climate hazards, weather, water, flooding, and similar.</p>
                </a>
            </li>
            <li class="card"> -->
                <!-- <i></i> -->
                <!-- <a href="">
                    <h3>Finance</h3>
                    <p>Public and private financial flows and investor data. </p>
                </a>
            </li> -->
            <!-- <li class="card">
                <a href="">
                    <h3>Energy</h3>
                    <p>The energy sector and data that includes fossil fuels.</p>
                </a>
            </li>
            <li class="card"> -->
                <!-- <a href="">
                    <h3>Mitigation</h3>
                    <p>Platforms that measure emissions or reduce them.</p>
                </a>
            </li>
            <li class="card">
                <a href="">
                    <h3>Forest & Agriculture</h3>
                    <p>Aliquam optio quia ut quo quidem dolorem reiciendis.</p>
                </a>
            </li>
            <li class="card">
                <a href="">
                    <h3>Adaptation</h3>
                    <p>Focus on planning, buiding resilience, and financing.</p>
                </a>
            </li>
            <li class="card">
\                <a href="">
                    <h3>Policy</h3>
                    <p>National and subnational policies and laws.</p>
                </a>
            </li>
        </ul>
    </section> -->
    <!-- <section class="nav">
        <a href="/add-data">Submit Data</a>
        <a href="/feedback">Site Feedback</a>
        <a href="/data">Browse Collection</a>
    </section> -->
</main>

<%- include('partials/footer') -%>