<%- include('partials/header') -%>

<section class="tableSe">
    <table class="table table-bordered table-hover table-condensed">
        <thead><tr><th title="Field #1">Name</th>
        <th title="Field #2">Still active</th>
        <th title="Field #3">Link</th>
        <th title="Field #4">Organization</th>
        <th title="Field #5">Year established</th>
        <th title="Field #6">Linked to GST</th>
        <th title="Field #7">Description</th>
        <th title="Field #8">Topic</th>
        <th title="Field #9">Scale (Geographic Aggregation/Actors)</th>
        <th title="Field #10">Geographies Included</th>
        <th title="Field #11">Visualization type</th>
        <th title="Field #12">Target audience</th>
        </tr></thead>
        <tbody><tr>
        <td>1.5°C National Pathway Explorer</td>
        <td>Yes</td>
        <td>http://1p5ndc-pathways.climateanalytics.org/</td>
        <td>Climate Analytics</td>
        <td align="right">2008</td>
        <td>No</td>
        <td>This tool shows how a selection of 64 countries across all regions and the development spectrum can align their decarbonisation trajectories with the Paris Agreement.</td>
        <td>Mitigation</td>
        <td>Regional,Country</td>
        <td>Bangladesh China India Japan Malaysia Myanmar Nepal New Zeland Pakistan Philippines Singapore South Korea Thailand Viet Nam Indonesia Argentina Chile Columbia Costa Rica Ecuador Mexico Peru Botswana Cameroon Democratic Republic of the Congo Egypt Ethiopia Kenya Morocco Mozambique Nigeria Saudi Arabia Senegal South Africa Tanzania United Arab Emirates Zimbabwe Canada United States European Union France Germany Norway Poland Switzerland Turkey United Kingdom Russia Ukraine</td>
        <td>Interactive Charts, Report</td>
        <td>Government ministries, Advocacy organizations/NGOs, General Public</td>
        </tr>
        <tr>
        <td>Adaptation Map</td>
        <td>Yes</td>
        <td>https://adaptationmap.climateanalytics.org/</td>
        <td>Climate Analytics</td>
        <td align="right">2008</td>
        <td>No</td>
        <td>Overview of adaptation actions that have been taken by 11 countries in West Africa and the Member States of the Caribbean Community since 2010.</td>
        <td>Adaptation, Policy</td>
        <td>Country</td>
        <td>Antigua and Barbuda Benin Burkina Faso Bahamas Belize Barbados Dominica Guinea Gambia Guinea-Bissau Grenada Guyana Haiti Jamaica Saint Kitts and Nevis Liberia Saint Lucia Mali Montserrat Niger Regional Senegal Sierra Leone Suriname Togo Trinidad and Tobago Saint Vincent and the Grenadines</td>
        <td>Interactive Maps, Report</td>
        <td>Government ministries, Advocacy organizations/NGOs, General Public</td>
        </tr>
        <tr>
        <td>Adaptation Fund</td>
        <td>Yes</td>
        <td>https://www.adaptation-fund.org/</td>
        <td>Adaptation Fund</td>
        <td align="right">2010</td>
        <td>No</td>
        <td>The Adaptation Fund finances projects and programmes that help vulnerable communities in developing countries adapt to climate change. </td>
        <td>Adaptation, Equity, Finance</td>
        <td>Regional, Country, Non-state actor</td>
        <td>Various</td>
        <td>Interactive Maps, Report</td>
        <td>Government ministries, Cities, Investors, Advocacy organizations/NGOs</td>
        </tr>
        <tr>
        <td>C-ROADS</td>
        <td>Yes</td>
        <td>https://www.climateinteractive.org/c-roads/</td>
        <td>Climate Interactive</td>
        <td align="right">2005</td>
        <td>No</td>
        <td>C-ROADS helps people understand the long-term climate impacts of national and regional greenhouse gas emission reductions at the global level.</td>
        <td>Mitigation</td>
        <td>Global,Regional</td>
        <td>All</td>
        <td>Interactive Charts</td>
        <td>Government ministries, Advocacy organizations/NGOs, General public, Cities, Corporate, Media/journalists, Investors</td>
        </tr>
        <tr>
        <td>Climate Action Tracker</td>
        <td>Yes</td>
        <td>https://climateactiontracker.org/</td>
        <td>Climate Analytics, NewClimate Institute, Institute for Essential Services Reform (IESR), The Potsdam Institute for Climate Impact Research (PIK) </td>
        <td align="right">2009</td>
        <td>Yes</td>
        <td>The Climate Action Tracker (CAT) tracks progress towards the globally agreed aim of holding warming well below 2°C and efforts to limit warming to 1.5°C.</td>
        <td>Mitigation, Policy</td>
        <td>Global, Country, Regional</td>
        <td>Islamic Republic of Iran Russian Federation Singapore Thailand Turkey Viet Nam Argentina Canada China Colombia Egypt India Indonesia Mexico New Zealand Saudi Arabia South Korea United Arab Emirates Australia Brazil Chile European Union Germany Japan Kazakhstan Peru South Africa Switzerland United States Costa Rica Ethiopia Kenya Morocco Nepal Nigeria Norway The Gambia United Kingdom</td>
        <td>Interactive Charts, Interactive Maps, Report, Raw Data</td>
        <td>Government ministries</td>
        </tr>
        <tr>
        <td>ND-GAIN</td>
        <td>Yes</td>
        <td>https://gain.nd.edu/</td>
        <td>Notre Dame Environmental Change Initiative</td>
        <td align="right">2013</td>
        <td>No</td>
        <td>ND-GAIN’s tool measures 181 countries on their climate risk and readiness to successfully adapt.</td>
        <td>Impacts, Adaptation</td>
        <td>Country, City</td>
        <td>All</td>
        <td>Interactive Charts, Interactive Maps, Raw Data, Report</td>
        <td>Government ministries, Academic, Cities, Corporate, Media/journalists, Advocacy organizations/NGOs, Investors, General Public</td>
        </tr>
        <tr>
        <td>UNEP Pledge Pipeline</td>
        <td>Yes</td>
        <td>https://www.unep.org/explore-topics/climate-action/what-we-do/mitigation/pledge-pipeline</td>
        <td>United Nations Environment Program</td>
        <td align="right">1972</td>
        <td>No</td>
        <td>The UNEP Pledge Pipeline tracks GHG emissions reductions pledged by each countries&#39; Nationally Determined Contributions (INDCs/NDCs) that are submitted to the UNFCCC.</td>
        <td>Mitigation</td>
        <td>Country, Global</td>
        <td>All</td>
        <td>Raw Data</td>
        <td>Government ministries</td>
        </tr>
        <tr>
        <td>Science Based Targets Initiative (SBTi) Progress Data Dashboard</td>
        <td>Yes</td>
        <td>https://sciencebasedtargets.org/reports/sbti-progress-report-2021/progress-data-dashboard#datadashboard</td>
        <td>Science Based Targets Initiative (SBTi) </td>
        <td align="right">2020</td>
        <td>No</td>
        <td>The Science Based Targets initiative (SBTi) provides the knowledge necessary to enable organizations to set science-based emissions reduction targets.</td>
        <td>Mitigation, Energy, Forest &amp; Agriculture</td>
        <td>Business</td>
        <td>All</td>
        <td>Raw Data, Interactive Charts, Report</td>
        <td>Corporate</td>
        </tr>
        <tr>
        <td>Cal-Adapt</td>
        <td>Yes</td>
        <td>https://cal-adapt.org/</td>
        <td>Geospatial Innovation Facility (GIF), California Energy Commission (CEC)</td>
        <td align="right">2011</td>
        <td>No</td>
        <td>Cal-Adapt provides a way to explore peer-reviewed data that portrays how climate change might affect California at the state and local level. </td>
        <td>Impacts</td>
        <td>State</td>
        <td>California</td>
        <td>Interactive Charts, Interactive Maps, Raw Data</td>
        <td>Government ministries, Cities, Corporate, Advocacy organizations/NGOs, Academic, General public</td>
        </tr>
        <tr>
        <td>ClimateWorks Tracker</td>
        <td>Yes</td>
        <td>https://cti.climateworks.org/tracking/</td>
        <td>ClimateWorks Foundation</td>
        <td align="right">2008</td>
        <td>No</td>
        <td>The Carbon Tracker dashboard enables users to track the decarbonization progress  of the major emitters over time.</td>
        <td>Mitigation</td>
        <td>Country, Regional</td>
        <td>United States, Mexico, European Union, China, India</td>
        <td>Interactive Charts, Interactive Maps, Raw Data</td>
        <td>Government ministries, Cities, Corporate, Investors, Academic, General public</td>
        </tr>
        <tr>
        <td>Climate Chance Cartography</td>
        <td>Yes</td>
        <td>https://www.climate-chance.org/en/getinformed/cartography-for-action/</td>
        <td>Climate Chance Association</td>
        <td align="right">2015</td>
        <td>No</td>
        <td>Tracker for all the climate initiatives carried out at the global level by non-state actors, identified by Climate Chance.</td>
        <td>Adaptation</td>
        <td>Non-state actor, Country</td>
        <td>All</td>
        <td>Interactive Maps, Report</td>
        <td>Advocacy organizations/NGOs, General public</td>
        </tr>
        <tr>
        <td>CEOS GST Portal</td>
        <td>Yes</td>
        <td>https://ceos.org/gst/</td>
        <td>Committee on Earth Observation Satelites</td>
        <td align="right">1984</td>
        <td>Yes</td>
        <td>A collection of datasets, resources, and guidance to support the Global Stocktake process of the Paris Climate Agreement.</td>
        <td>Mitigation, Forest &amp; Agriculture</td>
        <td>Global, Geospatial data</td>
        <td>All</td>
        <td>Raw Data, Report (Static), Resource aggregator</td>
        <td>Government ministries</td>
        </tr>
        <tr>
        <td>Climate Change Laws of the World</td>
        <td>Yes</td>
        <td>https://climate-laws.org/</td>
        <td>Grantham Research Institute on Climate Change and the Environment, Sabin Center for Climate Change Law</td>
        <td align="right">2008</td>
        <td>No</td>
        <td>This database covers climate and related laws and laws and policies that promote low carbon transitions relevant to areas like energy, transport, land use, and climate resilience.</td>
        <td>Policy</td>
        <td>Country, Region</td>
        <td>Various</td>
        <td>Report (Static), Interactive Maps</td>
        <td>Government ministries, Corporate, General public</td>
        </tr>
        <tr>
        <td>Climate Change Performance Index (CCPI)</td>
        <td>Yes</td>
        <td>https://ccpi.org/ranking/</td>
        <td>Germanwatch, NewClimate Institute, Climate Action Network (CAN)</td>
        <td align="right">2005</td>
        <td>No</td>
        <td>The CCPI tracks 60 countries and the EU&#39;s climate action performance by modeling GHG emmissions, energy use, and climate policy efforts.</td>
        <td>Policy, Mitigation, Energy</td>
        <td>County, Regional</td>
        <td>Various</td>
        <td>Interactive Charts, Interactive Maps, Report</td>
        <td>Academic, Government ministries, General public</td>
        </tr>
        <tr>
        <td>RegioClim </td>
        <td>No</td>
        <td>https://regioclim.climateanalytics.org/</td>
        <td>Climate Analytics</td>
        <td align="right">2008</td>
        <td>No</td>
        <td>Tool used to facilitate the access to state of the art regional climate projections by constraining the information to some basic graphics that can easily be interpreted and reused for reports involving climate change.</td>
        <td>Impacts</td>
        <td>Country</td>
        <td>Central African Republic Angola Burundi Benin Burkina Faso Botswana Côte d&#39;Ivoire Cameroon Congo, The Democratic Republic of the Congo Comoros Cabo Verde Diibouti Algeria Egypt Eritrea Western Sahara Ethiopia Gabon Ghana Guinea Gambia Guinea-Bissau Equatorial Guinea Kenya Liberia, Lesotho, Morocco Madagascar Mali Mozambique Mauritania Mauritius Malawi Namibia Niger Nigeria Rwanda Sudan Senegal Sierra Leone Somalia South Sudan Sao Tome and Principe Swaziland Seychelles Chad Togo Tunisia Tanzania, United Republic of Uganda South Africa Zambia Zimbabwe</td>
        <td>Report (Static), Interactive Charts</td>
        <td>Government ministries, Corporate, Advocacy organizations/NGOs, General public</td>
        </tr>
        <tr>
        <td>Climate Central</td>
        <td>Yes</td>
        <td>https://www.climatecentral.org/resources?page=1&amp;tab=tools</td>
        <td>Climate Central</td>
        <td align="right">2008</td>
        <td>No</td>
        <td>Climate Central uses science, big data, and technology to generate local storylines and compelling visuals that make climate change personal and show what can be done about it.</td>
        <td>Impacts, Equity</td>
        <td>Global, Country, City</td>
        <td>All</td>
        <td>Interactive Charts, Interactive Maps, Reports</td>
        <td>General public, Media/journalists, Corporate</td>
        </tr>
        <tr>
        <td>Climate Impact Lab</td>
        <td>Yes</td>
        <td>https://impactlab.org/</td>
        <td>Rhodium Group, University of California, Berkeley, Energy Policy Institute (EPIC) at the University of Chicago, Rutgers University.</td>
        <td align="right">2017</td>
        <td>No</td>
        <td>The Climate Impact Lab has a comprehensive body of research quantifying the impacts of climate change, sector-by-sector and community-by-community around the world.</td>
        <td>Impacts, Energy, Mitigation, Forest &amp; Agriculture, Adaptation &amp; Resilience, Equity</td>
        <td>Global</td>
        <td>All</td>
        <td>Interactive Maps, Report</td>
        <td>Corporate, Advocacy organizations/NGOs, Investors, Academic, General public, Government ministries, Cities</td>
        </tr>
        <tr>
        <td>CDP Open Data Portal</td>
        <td>Yes</td>
        <td>https://data.cdp.net/</td>
        <td>Carbon Disclosure Project</td>
        <td align="right">2000</td>
        <td>No</td>
        <td>Collection of datasets going as far back as 2011 on climate-related risks and opportunities, emissions, mitigation, adaptation, energy, and water in cities, states, and regions worldwide. </td>
        <td>Adaptation, Mitigation, Impact, Energy, Forest &amp; Agriculture, Finance</td>
        <td>Regional, State, City, Business, Non-state actor, Asset-level</td>
        <td>Various</td>
        <td>Raw Data, Interactive Maps, Report</td>
        <td>Government ministries, Cities, Corporate, Advocacy organizations/NGOs, Investors, General public</td>
        </tr>
        <tr>
        <td>Climate Change Knowledge Portal (CCKP)</td>
        <td>Yes</td>
        <td>https://climateknowledgeportal.worldbank.org/</td>
        <td>World Bank Group (WBG)</td>
        <td align="right">2011</td>
        <td>No</td>
        <td>The Portal provides access to comprehensive global, regional, and country data related to climate change and development.</td>
        <td>Impacts</td>
        <td>Country</td>
        <td>All</td>
        <td>Report, Interactive Maps, Interactive Charts, Raw Data</td>
        <td>Government ministries, Cities, Advocacy organizations/NGOs, Academic, General public</td>
        </tr>
        <tr>
        <td>Climate Equity Reference Calculator</td>
        <td>Yes</td>
        <td>https://calculator.climateequityreference.org/</td>
        <td>Climate Equity Reference Project (CERP), EcoEquity, Stockholm Environment Institute </td>
        <td align="right">2015</td>
        <td>No</td>
        <td>The Calculator lets users specify their own interpretation of national responsibility and capability for climate action to determine each country’s implied fair share of the global mitigation effort.</td>
        <td>Equity, Mitigation,</td>
        <td>Country, Regional, Global</td>
        <td>All</td>
        <td>Interactive Charts, Raw Data</td>
        <td>Government ministries, Advocacy organizations/NGOs</td>
        </tr>
        <tr>
        <td>Climate Funds Update</td>
        <td>Yes</td>
        <td>https://climatefundsupdate.org/</td>
        <td>The Heinrich Böll Foundation, ODI</td>
        <td align="right">2010</td>
        <td>No</td>
        <td>Web portal that provides information and data on the growing number of multilateral climate finance initiatives designed to help developing countries address the challenges of climate change.</td>
        <td>Finance</td>
        <td>Regional, Country, Business, Non-state actor</td>
        <td>Various</td>
        <td>Interactive Charts, Raw Data, Interactive Maps</td>
        <td>Government ministries, Investors, Corporate, Advocacy organizations/NGOs</td>
        </tr>
        <tr>
        <td>Climate Finance Landscape</td>
        <td>Yes</td>
        <td>https://www.climatepolicyinitiative.org/publication/global-landscape-of-climate-finance-2021/</td>
        <td>Climate Policy Initiative</td>
        <td align="right">2009</td>
        <td>No</td>
        <td>The Climate Finance Landscape provides the most comprehensive overview of global climate-related primary investment.</td>
        <td>Finance, Energy</td>
        <td>Global, Regions, Business, Country</td>
        <td>United States, Western Europe, Middle East, Canada, Sub-Saharan Africa, North Africa, South Asia, Central Asia, Latin America, Caribbean, Pacific, East Asia, South Asia, Eastern Europe</td>
        <td>Report (Static), Raw Data</td>
        <td>Government ministries, Corporate, Investors, Investors</td>
        </tr>
        <tr>
        <td>Climate Impact Explorer</td>
        <td>Yes</td>
        <td>https://climate-impact-explorer.climateanalytics.org/</td>
        <td>Climate Analytics</td>
        <td align="right">2008</td>
        <td>No</td>
        <td>This tool projects the severity of climate change impacts over time in continents, countries and provinces at different levels of warming, starting with 1.5°C.</td>
        <td>Impacts</td>
        <td>Global, Regional, Country</td>
        <td>Various</td>
        <td>Interactive Charts, Interactive Maps, Raw Data</td>
        <td>Government ministries, Cities, Advocacy organizations/NGOs, Academic, General public</td>
        </tr>
        <tr>
        <td>Climate Initiatives Platform (CIP)</td>
        <td>Yes</td>
        <td>https://climateinitiativesplatform.org/index.php/Welcome</td>
        <td>UN Environment, UNEP DTU</td>
        <td align="right">2016</td>
        <td>No</td>
        <td>This portal collects, tracks, and shares information on international cooperative climate initiatives driven by non-state actors such as businesses and cities, often with support from national states.</td>
        <td>Adaptation</td>
        <td>Global, Regional, Country, Business</td>
        <td>Various</td>
        <td>Resource aggregator</td>
        <td>Government ministries, Cities, Corporate, Advocacy organizations/NGOs, General public</td>
        </tr>
        <tr>
        <td>Climate Policy Database</td>
        <td>Yes</td>
        <td>https://climatepolicydatabase.org/</td>
        <td>NewClimate Institute,  PBL Netherlands Environmental Assessment Agency, Wageningen University and Research</td>
        <td align="right">2019</td>
        <td>No</td>
        <td>This database collects information on climate mitigation policies and creates a comprehensive policy package to mitigate the effects of climate change.</td>
        <td>Policy</td>
        <td>Global, Regional, Countries</td>
        <td>Various</td>
        <td>Resource aggregator, Report</td>
        <td>Government ministries</td>
        </tr>
        <tr>
        <td>Climate Policy Tracker</td>
        <td>Yes</td>
        <td>https://climatepolicytracker.org/</td>
        <td>We Mean Business, Business for Social Responsibility (BSR)</td>
        <td align="right">2017</td>
        <td>No</td>
        <td>Tool that provides business with up-to-date information on climate laws and regulation, enabling users to search for climate regulations based on industry or geography. </td>
        <td>Policy</td>
        <td>Country, Business</td>
        <td>Argentina, Australia, Brazil, Canada, China, Egypt, European Union, France, Germany, India, Indonesia, Japan, Mexico, Norway, Saudi Arabia, South Africa, South Korea, Thailand, United Kingdom, United States</td>
        <td>Resource aggregator</td>
        <td>Government ministries, Corporate, Investors, Advocacy organizations/NGOs</td>
        </tr>
        <tr>
        <td>EarthTime</td>
        <td>Yes</td>
        <td>https://earthtime.org/explore</td>
        <td>Community Robotics Education and Technology Empowerment Lab (CREATE Lab), World Economic Forum</td>
        <td align="right">2015</td>
        <td>No</td>
        <td>EarthTime enables users to interact with compelling animations accompanied by fact-based narratives from international experts over different periods of time. </td>
        <td>Impacts</td>
        <td>Global, Regional, Country, State, Geospatial data</td>
        <td>All</td>
        <td>Interactive Maps</td>
        <td>Government ministries, Cities, Corporate, Media/journalists, Advocacy organizations/NGOs, Investors, Academic, General public</td>
        </tr>
        <tr>
        <td>Global Climate Dashboard</td>
        <td>Yes</td>
        <td>https://www.climate.gov/</td>
        <td>National Oceanic and Atmospheric Administration (NOAA)</td>
        <td align="right">2010</td>
        <td>No</td>
        <td>This site features a variety of tools to track climate change and natural variability over time.</td>
        <td>Impacts, Adaptation</td>
        <td>Global, Regional, Country, State</td>
        <td>All, United States</td>
        <td>Interactive Charts, Interactive Maps, Raw Data, Resource aggregator</td>
        <td>Government ministries, Cities, Corporate, Advocacy organizations/NGOs, Academic, General public</td>
        </tr>
        <tr>
        <td>Data.gov - Climate</td>
        <td>Yes</td>
        <td>https://data.gov/climate/</td>
        <td>Office of Management and Budget (OMB) of the United States Government</td>
        <td align="right">2003</td>
        <td>No</td>
        <td>Collection of raw data and resources related to coastal flooding, food resilience, water, ecosystem vulnerability, human health, energy infrastructure, transportation, and the Arctic region. </td>
        <td>Impacts, Adaptation</td>
        <td>Regional, Country, State</td>
        <td>United States, Arctic, Alaska, Greenland</td>
        <td>Raw Data, Report, Resource aggregator</td>
        <td>Cities, Government ministries, Advocacy organizations/NGOs</td>
        </tr>
        <tr>
        <td>EDGAR</td>
        <td>Yes</td>
        <td>https://edgar.jrc.ec.europa.eu/</td>
        <td>United Nations Framework Convention on Climate Change (UNFCCC)</td>
        <td align="right">1970</td>
        <td>No</td>
        <td>EDGAR provides global past and present day anthropogenic emissions of greenhouse gases and air pollutants by country and on a spatial grid. </td>
        <td>Mitigation</td>
        <td>Global, Country, Regional</td>
        <td>All</td>
        <td>Interactive Maps, Interactive Charts, Report, Raw data</td>
        <td>Government ministries, Cities, Academic</td>
        </tr>
        <tr>
        <td>EIA</td>
        <td>Yes</td>
        <td>https://www.eia.gov/</td>
        <td>U.S. Energy Information Administration (EIA)</td>
        <td align="right">1978</td>
        <td>No</td>
        <td>EIA collects and analyzes data covering energy production, stocks, demand, and prices and prepares reports on its interaction with the economy and the environment.</td>
        <td>Energy</td>
        <td>Country, Regional, State, Asset-level</td>
        <td>Various</td>
        <td>Interactive Maps, Interactive Charts, Raw Data, Report</td>
        <td>Government ministries, Cities, Corporate, General public</td>
        </tr>
        <tr>
        <td>33 Open Satelite-Based Earth Monitoring Tools</td>
        <td>Yes</td>
        <td>https://www.earthobservations.org/documents/articles_ext/GHG%20Monitoring%20from%20Space_report%20final_Nov2021.pdf</td>
        <td>Group on Earth Observations (GEO), Climate TRACE, World Geospatial Industry Council (WGIC)</td>
        <td align="right">2021</td>
        <td>Yes</td>
        <td>This report maps different tools that provide access to public, private, and hybrid satellite missions.</td>
        <td>Mitigation</td>
        <td>Global, Geospatial data</td>
        <td>All</td>
        <td>Report</td>
        <td>Government ministries, Academic, Advocacy organizations/NGOs, General Public</td>
        </tr>
        <tr>
        <td>Climate Trace</td>
        <td>Yes</td>
        <td>https://places.climatetrace.org/</td>
        <td>Climate TRACE (Tracking Real-time Atmospheric Carbon Emissions) Coalition, Blue Sky Analytics, CarbonPlan, Earthrise Alliance, Hudson, Carbon, Hypervine, Johns Hopkins University Applied Physics Laboratory, OceanMind, RMI, TransitionZero, WattTime, former U.S. Vice President Al Gore</td>
        <td align="right">2021</td>
        <td>No</td>
        <td>Climate TRACE is harnessing satellites and artificial intelligence to advance emissions monitoring through direct observation and open data.</td>
        <td>Mitigation</td>
        <td>Global, Regional, National/Country, Non-state actor, State, City, Geospatial data, Asset-level, Business</td>
        <td>All</td>
        <td>Report, Interactive Maps, Interactive Charts, Raw Data</td>
        <td>Government ministries, Academic, Advocacy organizations/NGOs, Corporate, General Public</td>
        </tr>
        <tr>
        <td>Climate Transparency</td>
        <td>Yes</td>
        <td>https://www.climate-transparency.org/</td>
        <td>Federal Ministry for the Environment, Nature Conservation and Nuclear Safety (BMU) through the International Climate Initiative, the ClimateWorks Foundation, the World Bank Group and the Federal Foreign Office.</td>
        <td align="right">2014</td>
        <td>No</td>
        <td>The Climate Transparency Report covers easy-to-use information on all major areas such as mitigation and climate finance and includes detailed fact sheets on all G20 countries.</td>
        <td>Adaptation, Policy</td>
        <td>Country, Regional</td>
        <td>Argentina, Brazil, Canada, Mexico, The United States, European Union, France, Germany, Italy, Russia, The United Kingdom, Turkey, Saudi Arabia, South Africa, Australia, China, India, Indonesia, Japan, South Korea, Bangladesh, Colombia, Nepal, Nigeria, Pakistan, Philippines, Vietnam</td>
        <td>Report</td>
        <td>Government ministries</td>
        </tr>
        <tr>
        <td>ClimateScope</td>
        <td>Yes</td>
        <td>https://global-climatescope.org/</td>
        <td>BloombergNEF (BNEF)</td>
        <td align="right">2011</td>
        <td>No</td>
        <td>Climatescope is a unique market assessment, interactive report and index that evaluates the conditions for energy transition investment globally.</td>
        <td>Energy, Finance, Adaptation</td>
        <td>Global, Country, Regional</td>
        <td>All</td>
        <td>Report, Interactive Charts</td>
        <td>Government ministries, Corporate, Investors</td>
        </tr>
        <tr>
        <td>Climate Watch</td>
        <td>Yes</td>
        <td>https://www.climatewatchdata.org/</td>
        <td>World Resources Institute</td>
        <td align="right">2016</td>
        <td>No</td>
        <td>Climate Watch provides open climate data, visualizations and resources to give users insights on national and global progress on climate change.</td>
        <td>Miigation, Adaptation</td>
        <td>Global, Regional, Country</td>
        <td>All</td>
        <td>Report, Interactive Charts, Interactive Maps, Raw data</td>
        <td>Government ministries, Cities, Corporate, Media/journalists, Advocacy organizations/NGOs, Investors, Academic, General public</td>
        </tr>
        <tr>
        <td>En-ROADS</td>
        <td>Yes</td>
        <td>https://www.climateinteractive.org/en-roads/</td>
        <td>Climate Interactive</td>
        <td align="right">2005</td>
        <td>No</td>
        <td>En-ROADS is an online simulator that provides policymakers, educators, businesses, the media, and the public with the ability to test and explore cross-sector climate solutions.</td>
        <td>Impact</td>
        <td>Global</td>
        <td>All</td>
        <td>Interactive Charts, Raw Data</td>
        <td>Government ministries, Cities, Corporate, Media/journalists, Advocacy organizations/NGOs, Investors,Academic, General public</td>
        </tr>
        <tr>
        <td>Environmental Performance Index (EPI)</td>
        <td>Yes</td>
        <td>https://epi.yale.edu/</td>
        <td>Environmental Performance Index (EPI), Yale Center for Environmental Law &amp; Policy, The Center for International Earth Science Information Network (CIESIN)</td>
        <td align="right">2006</td>
        <td>No</td>
        <td>Using 40 performance indicators across 11 issue categories, the EPI ranks 180 countries on climate change performance, environmental health, and ecosystem vitality.</td>
        <td>Report, Resource aggregator, Raw Data, Interactive Charts, Interactive Maps</td>
        <td>Regional, Country</td>
        <td>All</td>
        <td>Interactive Charts, Interactive Maps, Raw Data</td>
        <td>Government ministries, Advocacy organizations/NGOs, Academic, General public</td>
        </tr>
        <tr>
        <td>Emissions Trading Systems</td>
        <td>Yes</td>
        <td>https://icapcarbonaction.com/en/ets</td>
        <td>International Carbon Action Partnership (ICAP)</td>
        <td align="right">2021</td>
        <td>No</td>
        <td>The ETS is an interactive map that features downloadable factsheets and gives granular information on individual emissions trading scheme aspects.</td>
        <td>Policy, Mitigation</td>
        <td>Regional, Country, State</td>
        <td>Arizona, Australia, British Columbia, California, Denmark, European Union, France, Germany, Greece, Ireland, Italy, Maine, Manitoba, Maryland, Massachusetts, Netherlands, New Jersey, New Mexico, New York, New Zealand, Norway, Nova Scotia, Ontario, Oregon, Portugal, Québec, Spain, Sweden, Switzerland, Tokyo, Vermont, United Kingdom, Washington, Canada, Japan, Kazahkstan, South Korea, Mexico, Singapore, Ukraine</td>
        <td>Interactive Maps, Report, Interactive Charts, Raw Data</td>
        <td>Government ministries, Cities, Corporate</td>
        </tr>
        <tr>
        <td>FAOSTAT</td>
        <td>Yes</td>
        <td>https://www.fao.org/faostat/</td>
        <td>Food and Agriculture Organization (FAO) </td>
        <td align="right">1986</td>
        <td>No</td>
        <td>FAOSTAT provides free access to food and agriculture data for over 245 countries and territories and covers all FAO regional groupings from 1961 to the most recent year available.</td>
        <td>Forest &amp; Agriculture</td>
        <td>Country</td>
        <td>All</td>
        <td>Raw Data, Interactive Charts</td>
        <td>Government ministries, Cities, Advocacy organizations/NGOs</td>
        </tr>
        <tr>
        <td>Global Forest Watch (GFW)</td>
        <td>Yes</td>
        <td>https://www.globalforestwatch.org/</td>
        <td>Global Forest Watch (GFW), World Resources Institute (WRI)</td>
        <td align="right">2014</td>
        <td>No</td>
        <td>Global Forest Watch (GFW) is an online platform that allows anyone to access near real-time information about where and how forests are changing around the world.</td>
        <td>Forest &amp; Agriculture</td>
        <td>Global, Country, City, Geospatial data</td>
        <td>All</td>
        <td>Interactive Charts, Interactive Maps, Report, Raw Data</td>
        <td>Government ministries, Cities, Corporate, Media/journalists, Advocacy organizations/NGOs, Academic, General public, Investors</td>
        </tr>
        <tr>
        <td>Global Carbon Atlas</td>
        <td>Yes</td>
        <td>http://www.globalcarbonatlas.org/</td>
        <td>Global Carbon Project (GCP) </td>
        <td align="right">2001</td>
        <td>No</td>
        <td>A platform where users can explore and visualize the most up-to-date data on carbon fluxes resulting from human activities and natural processes.</td>
        <td>Mitigation, Energy</td>
        <td>Country, City</td>
        <td>All</td>
        <td>Interactive Charts, Interactive Maps, Report, Raw Data</td>
        <td>Government ministries, Corporate, Academic, Investors</td>
        </tr>
        <tr>
        <td>Global Energy Trackers</td>
        <td>Yes</td>
        <td>https://globalenergymonitor.org/projects/</td>
        <td>Global Energy Monitor (GEM)</td>
        <td align="right">2014</td>
        <td>No</td>
        <td>Global Energy Monitor studies the evolving international energy landscape by creating databases, reports, and interactive tools that enhance understanding.</td>
        <td>Energy</td>
        <td>Global, Regional, Country, State, Asset-level</td>
        <td>All</td>
        <td>Interactive Maps, Raw Data, Report</td>
        <td>Advocacy organizations/NGOs, Academic, Government ministries, Media/journalists, Corporate, Investors</td>
        </tr>
        <tr>
        <td>Global Climate Action Portal</td>
        <td>Yes</td>
        <td>https://climateaction.unfccc.int/</td>
        <td>UN Climate Change (Peru), UN Climate Change (France), United Nations Framework Convention on Climate Change (UNFCCC)</td>
        <td align="right">2014</td>
        <td>No</td>
        <td>Online platform where actors from around the globe can display their commitments to act on climate change.</td>
        <td>Adaptation</td>
        <td>Country, Regional, City, Business</td>
        <td>All</td>
        <td>Interactive Maps, Report</td>
        <td>Government ministries, Cities, Corporate, Advocacy organizations/NGOs, Investors, General public</td>
        </tr>
        <tr>
        <td>Green Climate Fund Data Library</td>
        <td>Yes</td>
        <td>https://www.greenclimate.fund/projects/dashboard</td>
        <td>Green Climate Fund</td>
        <td align="right">2013</td>
        <td>No</td>
        <td>The data provided by the GCF platform helps visualize the financial response to climate change that has been invested on low-emission and climate-resilient development.</td>
        <td>Finance, Equity</td>
        <td>Region, Country, Non-state actor</td>
        <td>Various</td>
        <td>Report, Raw Data</td>
        <td>Government ministries, Corporate, Advocacy organizations/NGOs, Investors</td>
        </tr>
        <tr>
        <td>I2AM PARIS</td>
        <td>Yes</td>
        <td>https://www.i2am-paris.eu/</td>
        <td>Horizon 2020 Research and Innovation Programme (H2020)</td>
        <td align="right">2019</td>
        <td>Yes</td>
        <td>I2AM PARIS is an open-access, data platform hosting detailed documentation, inputs, and outputs of modelling tools and exercises for all audiences.</td>
        <td>Energy, Mitigation</td>
        <td>Global, Region, Country</td>
        <td>All</td>
        <td>Interactive Charts, Raw Data, Resource aggregator</td>
        <td>Government ministries, Cities, Corporate, Investors</td>
        </tr>
        <tr>
        <td>IMF Climate Dashboard</td>
        <td>Yes</td>
        <td>https://climatedata.imf.org/</td>
        <td>International Monetary Fund (IMF), Organisation for Economic Co-operation and Development (OECD), World Bank Group (WBG), United Nations (UN), European Commission, European Statistical Office (Eurostat), Food and Agriculture Organization (FAO), International Energy Agency (IEA), National Oceanic and Atmospheric Administration (NOAA)</td>
        <td align="right">2021</td>
        <td>No</td>
        <td>Comprehensive aggregator for statistical indicators on climate change, greenhouse gas emissions, trade in environmental goods, green finance, government policies, and more. </td>
        <td>Finance, Energy, Mitigation</td>
        <td>Global, Country</td>
        <td>All</td>
        <td>Interactive Charts, Interactive Maps, Raw Data, Report </td>
        <td>Government ministries, Corporate, Investors</td>
        </tr>
        <tr>
        <td>Initiative for Climate Action Activity (ICAT)</td>
        <td>Yes</td>
        <td>https://climateactiontransparency.org/</td>
        <td>ICAT, United Nations Office for Project Services (UNOPS)</td>
        <td align="right">2019</td>
        <td>No</td>
        <td>ICAT provides countries with support and practical tools and methodologies to build the transparency frameworks needed for effective climate action on national development priorities.</td>
        <td>Adaptation, Policy</td>
        <td>Global, Regional, Country</td>
        <td>Various</td>
        <td>Interactive Maps</td>
        <td>Government ministries</td>
        </tr>
        <tr>
        <td>IPCC AR6</td>
        <td>Yes</td>
        <td>https://www.ipcc.ch/assessment-report/ar6/</td>
        <td>Intergovernmental Panel on Climate Change (IPCC) </td>
        <td align="right">1988</td>
        <td>No</td>
        <td>The IPCC reports provide a comprehensive summary of what is known about the drivers of climate change, its impacts and future risks, and how adaptation and mitigation can reduce those risks.</td>
        <td>Impacts, Adaptation</td>
        <td>Global</td>
        <td>All</td>
        <td>Report</td>
        <td>Government ministries</td>
        </tr>
        <tr>
        <td>NDC Explorer</td>
        <td>Yes</td>
        <td>https://klimalog.idos-research.de/ndc/</td>
        <td>Deutsches Institut für Entwicklungspolitik (DIE)</td>
        <td align="right">2020</td>
        <td>No</td>
        <td>The NDC Explorer is an online tool to analyse and compare countries&#39; (Intended) Nationally Determined Contributions (INDCs/NDCs).</td>
        <td>Finance, Adaptation</td>
        <td>Country</td>
        <td>Various</td>
        <td>Interactive Maps</td>
        <td>Government ministries</td>
        </tr>
        <tr>
        <td>Local Sea Level Rise</td>
        <td>Yes</td>
        <td>http://localslr.climateanalytics.org/</td>
        <td>Climate Analytics</td>
        <td align="right">2008</td>
        <td>No</td>
        <td>This website allows you to browse through local sea-level projections for different global warming trajectories.</td>
        <td>Impacts</td>
        <td>Country,  Geospatial data</td>
        <td>All</td>
        <td>Interactive Maps, Interactive Charts, Resource aggregator</td>
        <td>Government ministries, Cities, Corporate, Media/journalists, Advocacy organizations/NGOs, Investors, Academic, General public</td>
        </tr>
        <tr>
        <td>NDC Ambition Explorer</td>
        <td>Yes</td>
        <td>https://tools.climateanalytics.org/ndc-ambition-tool-rbf/tool/</td>
        <td>Climate Analytics</td>
        <td align="right">2008</td>
        <td>No</td>
        <td>The NDC Ambition Explorer allows users to see the gap between big emitters&#39; 2030 climate targets and where they need to be to stay below 1.5 degrees of temperature change.</td>
        <td>Impacts</td>
        <td>Country, Regional</td>
        <td>European Union, United Kingdom, China, United States, India, Brazil, South Africa, Russia, Indonesia, Japan, Australia, Canada, Asia, Latin America, Middle East</td>
        <td>Interactive Charts</td>
        <td>Government ministries, Advocacy organizations/NGOs, General public</td>
        </tr>
        <tr>
        <td>Net Zero Tracker</td>
        <td>Yes</td>
        <td>https://zerotracker.net/</td>
        <td>Energy &amp; Climate Intelligence Unit (ECIU), Data-Driven EnviroLab (DDL), NewClimate Institute, Oxford Net Zero</td>
        <td align="right">2021</td>
        <td>Yes</td>
        <td>A definitive global resource for collating, assessing and presenting the scale and quality of net zero pledges across nationals, sub-nationals, companies and other entities.</td>
        <td>Policy</td>
        <td>Regional, National/Country, Non-state actor, City, Business</td>
        <td>All</td>
        <td>Raw Data, Report, Interactive Maps</td>
        <td>Government ministries, Cities, Corporate, Investors</td>
        </tr>
        <tr>
        <td>IEA</td>
        <td>Yes</td>
        <td>https://www.iea.org/data-and-statistics</td>
        <td>International Energy Agency (IEA)</td>
        <td align="right">1974</td>
        <td>No</td>
        <td>The IEA collects, assesses and disseminates energy statistics on supply and demand to provide the world’s most authoritative and comprehensive source of global energy data.</td>
        <td>Energy</td>
        <td>Regional, Country, Asset-level</td>
        <td>Various</td>
        <td>Raw Data, Report, Interactive Charts</td>
        <td>Government ministries, Cities, Corporate, Investors</td>
        </tr>
        <tr>
        <td>IRENA</td>
        <td>Yes</td>
        <td>https://www.irena.org/publications/2020/Nov/Global-Landscape-of-Renewable-Energy-Finance-2020</td>
        <td>International Renewable Energy Agency (IRENA)</td>
        <td align="right">2011</td>
        <td>No</td>
        <td>IRENA promotes renewable resources and technologies as the key to a sustainable future and helps countries achieve their renewable energy potential.</td>
        <td>Energy</td>
        <td>Global, Regional, Country, Geospatial data</td>
        <td>All</td>
        <td>Interactive Maps, Raw Data, Report</td>
        <td>Government ministries, Cities, Corporate</td>
        </tr>
        <tr>
        <td>NGFS Scenarios Portal</td>
        <td>Yes</td>
        <td>https://data.ene.iiasa.ac.at/ngfs/#/workspaces</td>
        <td>International Institue for Applied Systems Analysis</td>
        <td align="right">2022</td>
        <td>No</td>
        <td>A web-based user interface for transition scenario results with intuitive visualizations &amp; display of timeseries data and download of the data in multiple formats. </td>
        <td>Finance</td>
        <td>Global, Regional</td>
        <td>All, Various</td>
        <td>Interactive Charts, Raw Data</td>
        <td>Corporate</td>
        </tr>
        <tr>
        <td>Paris Equity Check</td>
        <td>Yes</td>
        <td>http://paris-equity-check.org/multi-equity-map.html</td>
        <td>Climate Energy College, University of Melbourne</td>
        <td align="right">2015</td>
        <td>No</td>
        <td>Maps showing countries pledges and the effect of their pledge on global warming</td>
        <td>Impacts, Mitigation, Policy</td>
        <td>Global, National Country</td>
        <td>All</td>
        <td>Interactive Maps</td>
        <td>Government minstries, Academic</td>
        </tr>
        <tr>
        <td>PBL Climate Pledge Tool</td>
        <td>Yes</td>
        <td>https://themasites.pbl.nl/o/climate-ndc-policies-tool/</td>
        <td>PBL Netherlands Environmental Assessment Agency</td>
        <td align="right">2017</td>
        <td>No</td>
        <td>This tool shows the targets in these Nationally Determined Contributions and pledges made earlier for 2020. This tool compares targets for the 26 emitting parties with greenhouse gas emission projections up to 2030</td>
        <td>Mitigation, Policy</td>
        <td>Global, National Country</td>
        <td>All</td>
        <td>Interactive Maps, Interactive Charts, Raw Data</td>
        <td>General Public</td>
        </tr>
        <tr>
        <td>PBL Global Stocktake Tool</td>
        <td>Yes</td>
        <td>https://themasites.pbl.nl/o/global-stocktake-indicators/#home</td>
        <td>PBL Netherlands Environmental Assessment Agency</td>
        <td align="right">2020</td>
        <td>No</td>
        <td>The Global Stocktake tool presents several indicators to track progress in implementing the Paris Climate Agreement.The indicators presented here are based on model-based scenarios that compare the action needed to meet the overall objectives, with the action promised by individual countries (reported via the Nationally Determined Contributions (NDC) and the actual implemented policies (based on a database of currently implemented policies). The stocktake tool intends to allow a wide range of interested parties to assess progress.</td>
        <td>Policy, Mitigation</td>
        <td>Global, National Country, Regional</td>
        <td>All, Various</td>
        <td>Interactive Maps</td>
        <td>Government ministries, General Public, Advocacy Organizations</td>
        </tr>
        <tr>
        <td>Paris Reality Check</td>
        <td>Yes</td>
        <td>https://www.pik-potsdam.de/paris-reality-check/</td>
        <td>Potsdam Institute for Climate Impact Research (PIK)</td>
        <td align="right">2020</td>
        <td>No</td>
        <td>This site lists various tools and datasets that allow you to see things like emissions data, impacts on coral/sea-level, equity assessments. ETC</td>
        <td>Impacts, Policy, Mitigation</td>
        <td>Global, Regional</td>
        <td>Various</td>
        <td>Interactive Charts, Raw Data, Interactive Maps, Resource Aggregator</td>
        <td>Government ministries, general Public, Advocacy Organizations</td>
        </tr>
        <tr>
        <td>Regulatory Indicators for Sustainable Energy (RISE)</td>
        <td>Yes</td>
        <td>https://rise.esmap.org/</td>
        <td>The World Bank Group</td>
        <td align="right">2020</td>
        <td>No</td>
        <td>A set of indicators to help compare national policy and regulatory frameworks for sustainable energy. . It assesses countries’ policy and regulatory support for each of the <br/>four pillars of sustainable energy—access to electricity, access to <br/>clean cooking (for 55 access-deficit countries), energy efficiency, and <br/>renewable energy.</td>
        <td>Policy, Mitigation</td>
        <td>Global, National Country</td>
        <td>All</td>
        <td>Interactive Maps, Interactive Charts, Raw Data, Resource Aggregation</td>
        <td>Government ministries, Cities, Corporate, Media/journalists, Advocacy organizations/NGOs, Investors, Academic, General public</td>
        </tr>
        <tr>
        <td>IRI Climate and Society Map Room</td>
        <td>Yes</td>
        <td>http://iridl.ldeo.columbia.edu/maproom/</td>
        <td>Climate Program Office NOAA, The Earth Institute Columbia University</td>
        <td align="right">2004</td>
        <td>No</td>
        <td>The climate and society maproom is a collection of maps and other figures that monitor climate and societal conditions at present and in the recent past.</td>
        <td>Impacts, Equity</td>
        <td>Global, Country, Geospatial data</td>
        <td>All</td>
        <td>Interactive Maps, Interactive Charts, Raw Data</td>
        <td>Government ministries, Cities, Media/journalists, Advocacy organizations/NGOs, General public</td>
        </tr>
        <tr>
        <td>OpenEI</td>
        <td>Yes</td>
        <td>https://openei.org/wiki/Main_Page</td>
        <td>National Renewable Energy Laboratory (NREL)</td>
        <td align="right">1991</td>
        <td>No</td>
        <td>The OpenEI is an open platform providing the most current information needed to make informed decisions on energy, market investment, and technology development.</td>
        <td>Energy</td>
        <td>Global, Non-state actor, Business, Asset-level</td>
        <td>Various</td>
        <td>Raw Data, Report, Resource aggregator</td>
        <td>Government ministries, Cities, Corporate, Media/journalists, Advocacy organizations/NGOs], Investors, Academic,</td>
        </tr>
        <tr>
        <td>PREPdata</td>
        <td>Yes</td>
        <td>https://prepdata.org/explore</td>
        <td>Partnership for Resilience and Preparedness (PREP) </td>
        <td align="right">2016</td>
        <td>No</td>
        <td>The platform promotes communication between data users and producers and makes high-priority data available through a map-based platform.</td>
        <td>Equity, Adaptation, Impacts</td>
        <td>Global, Country, State, City</td>
        <td>All</td>
        <td>Interactive Charts, Interactive Maps, Report</td>
        <td>Government ministries, State, City</td>
        </tr>
        <tr>
        <td>Ren 21 Renewables Now</td>
        <td>Yes</td>
        <td>https://www.ren21.net/about-us/who-we-are/</td>
        <td>REN 21</td>
        <td align="right">2004</td>
        <td>No</td>
        <td>REN 21 provides annual reports with facts, figures, peer-reviewd analysis of global developments in technologies, policies, and markets to decision makers. The goal is a transition to renewable energy!</td>
        <td>Policy, Mitigation, Energy</td>
        <td>Global</td>
        <td>All</td>
        <td>Report (Static), Resource Aggregator</td>
        <td>Government ministries, Cities, Corporate, Media/journalists, Advocacy organizations/NGOs, Investors, Academic, General public</td>
        </tr>
        <tr>
        <td>Global Calculator</td>
        <td>Yes</td>
        <td>https://mackaycarboncalculator.beis.gov.uk/overview/emissions-and-primary-energy-consumption/?levers=111111111111111111111111111111111111111111111aaabaaabaaabaaaaaaaaaaaabbabbbcbbaabcaabbaaaagggggggggggggeggggggggggiggiiiqgdgggggggggkgg</td>
        <td>Department for Business, Energy, and Industrial Strategy UK</td>
        <td align="right">2020</td>
        <td>No</td>
        <td>The MacKay Carbon Calculator provides a model of the UK energy system that allows you to explore pathways to decarbonisation, including net zero by 2050.</td>
        <td>Mitigation, Policy, Impact</td>
        <td>Country</td>
        <td>UK</td>
        <td>Interactive Charts, Raw Data</td>
        <td>Government ministries, General Public, </td>
        </tr>
        <tr>
        <td>UNFCCC Climate Finance Data Portal</td>
        <td>Yes</td>
        <td>https://unfccc.int/climatefinance?home</td>
        <td>United Nations Framework Convention on Climate Change </td>
        <td align="right">2018</td>
        <td>No</td>
        <td>The BR-DI allows the BR CTF data to be searched via user-defined queries within any of the sections listed in the navigation menu at the left. Within each section, multiple search options are available that allow users to refine queries by various criteria.</td>
        <td>Finance</td>
        <td>Global</td>
        <td>Various</td>
        <td>Raw Data, Resource Aggregator</td>
        <td>Governement Ministries, Corporate</td>
        </tr>
        <tr>
        <td>Voluntary REDD Database</td>
        <td>No</td>
        <td>https://www.fao.org/forestry/vrd/en/</td>
        <td>Voluntary REDD Database</td>
        <td align="right">2010</td>
        <td>No</td>
        <td>It aimed to improve transparency around REDD+ and support efforts to identify and analyse gaps and overlaps in REDD+ financing. The VRD is a key provider of information to the global community on REDD+ financing, actions and results, providing the ability to search and summarise data that is submitted and updated throughout the year by Partner countries and stakeholder institutions.</td>
        <td>Finance, Government Ministries</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        <td>N/A</td>
        </tr>
        <tr>
        <td>Yale Climate Opinion Maps </td>
        <td>Yes</td>
        <td>https://climatecommunication.yale.edu/visualizations-data/ycom-us/</td>
        <td>Yale</td>
        <td align="right">2015</td>
        <td>No</td>
        <td>These maps show how Americans’ climate change beliefs, risk perceptions, and policy support vary at the state, congressional district, metro area, and county levels.</td>
        <td>Policy</td>
        <td>Country</td>
        <td>United States</td>
        <td>Interactive Maps</td>
        <td>Policy, Government ministries</td>
        </tr>
        <tr>
        <td>RECAI 59</td>
        <td>Yes</td>
        <td>https://www.ey.com/en_us/recai/does-the-need-for-energy-security-challenge-the-quest-for-net-zero</td>
        <td>EY Global Power &amp; Utilities</td>
        <td align="right">2022</td>
        <td>No</td>
        <td>This is a report covering topics like oil and gas, energy, resources, etc. Not a great source of raw data but a detailed read.</td>
        <td>Finance</td>
        <td>Country</td>
        <td>Various</td>
        <td>Resource Aggregator, Interactive Charts</td>
        <td>Corporate, Policy</td>
        </tr>
        <tr>
        <td>SBTI Progress Report</td>
        <td>Yes</td>
        <td>https://sciencebasedtargets.org/reports/sbti-progress-report-2021/progress-data-dashboard#datadashboard</td>
        <td>Science Based Targets</td>
        <td align="right">2021</td>
        <td>Yes</td>
        <td>Here you can find information about individual company progress, and access the full data sets used to produce the a report from the data from various companies in 2021</td>
        <td>Finance, Policy</td>
        <td>Country</td>
        <td>Various</td>
        <td>Report</td>
        <td>Policy, Corporate, Government Ministries</td>
        </tr>
        <tr>
        <td>The Senses Toolkit</td>
        <td>Yes</td>
        <td>https://climatescenarios.org/toolkit/</td>
        <td>European Research Area for Climate Services</td>
        <td align="right">2017</td>
        <td>No</td>
        <td>This toolkit allows you to explore and understand climate change scenarios with various charts and visualizations</td>
        <td>Finance, Adaptation</td>
        <td>Global</td>
        <td>Various, Global</td>
        <td>Interactive Maps, Interactive charts, Resource Aggregator, Report</td>
        <td>Corporate, Policy, General Public, Advocacy Groups</td>
        </tr>
        <tr>
        <td>Adaptation Gap Report</td>
        <td>Yes</td>
        <td>https://www.unep.org/resources/adaptation-gap-report-2020</td>
        <td>UN Environment Programme</td>
        <td align="right">1972</td>
        <td>No</td>
        <td>The fifth edition of the UNEP Adaptation Gap Report looks at progress in planning for, financing and implementing adaptation – with a focus on nature-based solutions.</td>
        <td>Adaptation</td>
        <td>Regional</td>
        <td>Europe</td>
        <td>Report</td>
        <td>Policy, Advocate Groups, Corporate, Government Ministries</td>
        </tr>
        <tr>
        <td>Emissions Gap Report</td>
        <td>Yes</td>
        <td>https://www.unep.org/events/publication-launch/emissions-gap-report-2021</td>
        <td>UN Environment Programme</td>
        <td align="right">1972</td>
        <td>No</td>
        <td>The report provides an update of global emissions pathways and progress towards achieving national mitigation pledges and the Paris Agreement goals as well as the resulting ‘emissions gap’. </td>
        <td>Mitigation</td>
        <td>Regional</td>
        <td>Europe</td>
        <td>Report</td>
        <td>Policy, Advocate Groups, Corporate, Government Ministries</td>
        </tr>
        <tr>
        <td>State of Climate Action toward 2030 and 2050</td>
        <td>Yes</td>
        <td>https://www.wri.org/research/state-climate-action-assessing-progress-toward-2030-and-2050</td>
        <td>World Resources Institute (WRI), ClimateWorks Foundation (CWF)</td>
        <td align="right">2020</td>
        <td>Yes</td>
        <td>Overview of climate action to date and global and country-level progress across six sectors that would limit global warming to 1.5 degrees Celsius (°C) and prevent its most dangerous impacts. </td>
        <td>Adaptation</td>
        <td>Global, Country, Regional</td>
        <td>All</td>
        <td>Report</td>
        <td>Government ministries, Corporate, Media/journalists, Advocacy organizations/NGOs, Investors</td>
        </tr>
        <tr>
        <td>weAdapt Adaptation Layer</td>
        <td>Yes</td>
        <td>https://www.weadapt.org/placemarks/maps</td>
        <td>Stockholm Environment Institute (SEI).</td>
        <td align="right">2007</td>
        <td>No</td>
        <td>weAdapt is a platform designed as a community of research and practice on adaptation issues and policy-relevant tools and guidance for adaptation planning and decision-making.</td>
        <td>Adaptation</td>
        <td>Country</td>
        <td>All</td>
        <td>Interactive Maps, Resource aggregator, Interactive Charts, Report</td>
        <td>Government ministries, Advocacy organizations/NGOs, Academic</td>
        </tr>
        </tbody></table>
    </section>
    <%- include('partials/footer') -%>