<footer>
    <p>
        This website was designed and programmed by <a href="https://delmonte.tech">
        Denisse Del Monte</a> with content assembled from the <a href="https://www.wri.org/">World Resources Institute</a>, <a href="https://www.climateworks.org/">ClimateWorks Foundation</a>, and <a href="https://www.mcgill.ca/">McGill University</a> as part of the COP27 Global Stocktake Datathon.
        </a>
    </p>
    <p>&copy; 2022 All Rights Reserved</p>
</footer>
<script type="text/javascript" src="/js/main.js"></script>
</body>
</html>